.footer {
  height: var(--footer-height);
  border-top: 1px solid var(--divider-color);
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
}

.copyright {
  width: 100%;
  padding-top: calc(var(--footer-height) * 0.4);
  text-align: center;
  font-size: var(--footer-font-size);
}


@media print {
  .footer {
    display: none;
  }
}